.nextIcon,
.previousIcon {
  display: none;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
}

.paginationButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.paginationCount{
  display: flex;
  gap: 1rem;
  justify-self: center;
  align-items: center;
}
.paginationNone{
  display: none;
}